@import "tailwindcss";

@theme {
  --color-sage: #609966;
  --color-cream: #FDFCF5;
  --color-gold: #D4AF37;
  --color-charcoal: #2F3E46;

  --font-display: var(--font-inter);
  --font-body: var(--font-lato);
}

:root {
  --background: #FDFCF5;
  --foreground: #2F3E46;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}